# Ignore everything in the root except the "wp-content" directory.
/*
*.log
.htaccess
!.gitignore
!wp-content/

# GH Actions specific
!.github*

# Build specific
!package.json
!package-lock.json
!.browserslistrc.js
!.eslintrc.js
!.eslintignore
!.stylelintrc.js
!gulpfile.js

# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/
!wp-content/index.php

# Ignore everything in the "plugins" directory, except the plugins you
# specify (see the commented-out examples for hints on how to do this.)
wp-content/plugins/*
!wp-content/plugins/index.php
!wp-content/plugins/plugin*

# Ignore everything in the "themes" directory, except the themes you
# specify (see the commented-out example for a hint on how to do this.)
wp-content/themes/*
!wp-content/themes/index.php
!wp-content/themes/theme*

.DS_Store
node_modules/

# Ignore assets except source files
wp-content/**/assets/*
!wp-content/**/assets/source
!wp-content/**/assets/images

#ignore maps
wp-content/**/assets/source/_maps
